# ;Все переменные обязательны
Reply_To_e_mail = "something@something.ru"
firma = "FIRMA"
full_name = "Скрипт для мониторинга места на диске"
priority = "Критично"
# в description прога добавит сама остаток свободного места на диске
description = "В компании "FIRMA" на сервере под управлением Debian, IP 000.000.000.000,\
              свободного места на диске осталось меньше"
# ;в байтах целое число
min_free_memory = 42052000000